# Environment variables
.env/

# Data artifacts
data/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
mimiciv_project.egg-info/

# Virtual environments
.venv/
env/
venv/

# Ollama local state
.ollama/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project